<div class="d-flex flex-column justify-content-center align-items-center col-12 w-100">
    <h3 class="fw-bold h1 text-capitalize">Edit Product Data</h3>
    <form [formGroup]="editProductForm" (ngSubmit)="onSubmit()" class="form-group col-12 border border-secondary rounded my-4 w-100 p-4">
    <div class="d-flex flex-row gap-3 my-3">
        <div>
            <label for="productName">Product Name</label>
            <input type="text" class="form-control" formControlName="productName">
            <span *ngIf="productName.touched && productName.invalid" class="fs-6 text-danger">Enter product name</span>
        </div>
        <div>
            <label for="price">Price</label>
            <input type="number" class="form-control" formControlName="price">
            <span *ngIf="price.touched && price.invalid" class="fs-6 text-danger">Enter numbers only</span>
        </div>
    </div>

    <div>
        <label for="productImage">Product Image</label>
        <input type="text" class="form-control" formControlName="productImage">
        <span *ngIf="productImage.touched && productImage.invalid" class="fs-6 text-danger">Enter product name</span>
    </div>

    <div>
        <label for="description">Description</label>
        <textarea formControlName="description" cols="30" rows="5" class="col-12 my-2 form-control"></textarea>
        <span *ngIf="description.touched && description.invalid" class="fs-6 text-danger">Description is required</span>
    </div>

    <div class="d-flex flex-row gap-3 my-3">
        <div>
            <label for="size">Size</label>
            <select formControlName="size" class="form-control">
                <option value="Male">8.0</option>
                <option value="Female">8.5</option>
                <option value="Unisex">9.0</option>
                <option value="Unisex">9.5</option>
                <option value="Unisex">10</option>
                <option value="Unisex">10.5</option>
                <option value="Unisex">11.0</option>
                <option value="Unisex">11.5</option>
                <option value="Unisex">12.0</option>
            </select>
            <span *ngIf="size.touched && size.invalid" class="fs-6 text-danger">Select Shoe Size</span>
        </div>
        <div>
            <label for="gender">Gender</label>
            <select formControlName="gender" class="form-control">
                <option value="Male">Male</option>
                <option value="Female">Female</option>
                <option value="Unisex">Unisex</option>
            </select>
            <span *ngIf="gender.touched && gender.invalid" class="fs-6 text-danger">Select Gender</span>
        </div>
    </div>

    <div class="d-flex flex-row gap-3 my-3">
        <div>
            <label for="purchases">Purchases</label>
            <input type="number" class="form-control" formControlName="purchases">
            <span *ngIf="purchases.touched && purchases.invalid" class="fs-6 text-danger">Must be number</span>
        </div>
        <div>
            <label for="discount">Discount</label>
            <input type="number" class="form-control" formControlName="discount">
            <span *ngIf="discount.touched && discount.invalid" class="fs-6 text-danger">Must be number</span>
        </div>
    </div>


    <div class="d-flex flex-row justify-content-end align-items-center mt-3">
        <button [disabled]="editProductForm.invalid" type="submit" class="btn btn-success">Add New Product</button>
        <!-- <button [disabled]="editProductForm" type="submit"  class="btn btn-dark">Update</button> -->
        <!-- <button [disabled]="editProductForm" type="submit" class="btn btn-danger">Delete</button> -->
    </div>

</form>
</div>