<div class="container">
    <p>Fetch Data</p>

    {{myData | json}}
<ul *ngFor="let item of myData" class="list-group">
    <li class="list-group-item">
        <div class="d-flex flex-row gap-3 justify-content-between align-items-center">
            <img src={{item.productImage}} alt={{item.productName}}  width="50" height="auto" class="col-2 rounded shadow-lg">
            <span class="col-3">{{item.productName}}</span>
            <span class="col-3">{{item.price}}</span>
            <span class="col-3">{{item.description}}</span>
        </div>
    </li>
</ul>
</div>
